/*The following media sections automatically detect an appropriate value for "width", depending on the width of the window, so that items within .k-columns appear as a grid (or list, if the window is narrow)*/
@media (min-width: 1201px) {
	.k-columns > * {
		width: 20%;
	}
}
@media (max-width: 1200px) {
	.k-columns > * {
		width: 25%;
	}
}
@media (max-width: 1000px) {
	.k-columns > * {
		width: calc(100% / 3);
	}
}
@media (max-width: 800px) {
	.k-columns > * {
		width: 50%;
	}
}
@media (max-width: 400px) {
	.k-columns > * {
		width: 100%;
	}
}