/* These settings apply to both buttons and .calcitPicker boxes ("uiPicker"). So the specific elements can focus on their own settings */
input[type=button], select, .k-checkbox_mark {
	background-color: transparent;
	color: rgba(var(--kv-text_color_rgb),var(--kv-text_color_alpha));

	/*font-family: Arial, Helvetica, sans-serif;*/
	height: 1.7em;
	border: 1px solid rgba(var(--kv-text_color_rgb),var(--kv-text_color_alpha));
	border-radius: var(--small-button-border-radius);
	font-size: 0.9em;
	
	box-shadow: 1px 1px 1px var(--button-shadow-color);
}
input[type=button]:hover, select:hover, .k-checkbox_container:hover, input[type=button]:focus, select:focus, .k-checkbox_container:focus {
	--button-gradient: var(--button-hover-gradient);
}

input[type=button]:active, select:active, .k-checkbox_container:active {
	--button-gradient: linear-gradient(
        rgba(255,255,255,0.1),
		rgba(255,255,255,0.2)
	);
}

/*Custom button styling for a uniform look on all platforms*/
input[type=button] {
	padding: 0.1cm;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
	background-image: var(--button-gradient);
}

/*
 * Custom select ("picker") styling for a uniform look on all platforms
 * Idea from https://www.filamentgroup.com/lab/select-css.html
 */
select {
	box-sizing: border-box;
	padding-right: 30px;
	padding-left: 5px;
	margin: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: var(--select-arrow), var(--button-gradient);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}