:root {
	--kv-single_view_picker_overflow: unset;
}

.k-single_view_picker {
	background-color: transparent;
	border-radius: var(--big-button-border-radius);
	/* TODO: When all browsers support it, use overflow: clip here - currently, code below is needed */
	overflow: var(--kv-single_view_picker_overflow);
}

/* Firefox needs overflow: clip to not mess up other layouts */
@-moz-document url-prefix() {
	:root {
		--kv-single_view_picker_overflow: clip;
	}
}