.k-horizontal_scroller, .k-vertical_scroller {
	-webkit-overflow-scrolling: touch;
}
.k-horizontal_scroller {
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
}
.k-vertical_scroller {
	overflow-y: auto;
	
	/*Only works with a parent that has display: flex*/
	flex-grow: 1;
}