:root {
  --kv-background_color: #393939;
  --kv-black_accent_color: #393939;
}

.calcitStandardBackground, .calcitExtremeBackground {
	--kv-text_color_rgb: 255,255,255;
    --button-gradient: var(--standard-button-gradient);
    --button-shadow-color: black;
    
    --button-hover-gradient: var(--button-on-dark-hover-gradient);
    
    --select-arrow: var(--white-select-arrow);
    --quickmenu-icon: var(--white-quickmenu-icon);
}