.k-single_view_picker:hover {
	background-image: linear-gradient(to right, var(--kv-light_accent_color), var(--kv-lighter_twilight_accent_color));
	color: var(--kv-darker_twilight_accent_color);
}
.k-single_view_picker_select {
	background-image: linear-gradient(to right, var(--kv-twilight_accent_color), var(--kv-darker_twilight_accent_color));
}