.calcitDynamic_horizontalScroller {
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
}
.calcitDynamic_verticalScroller {
	overflow-y: auto;
}