/* These settings apply to both buttons and .calcitPicker boxes ("uiPicker"). So the specific elements can focus on their own settings */
.calcitButton, .calcitPicker, .k-checkbox_mark, .calcitPickerIcon {
	background-color: transparent;
	color: rgba(var(--kv-text_color_rgb),var(--kv-text_color_alpha));

	/*font-family: Arial, Helvetica, sans-serif;*/
	height: 1.7rem;
	border: 1px solid rgba(var(--kv-text_color_rgb),var(--kv-text_color_alpha));
	border-radius: var(--small-button-border-radius);
	font-size: 0.9em;
	
	box-shadow: 1px 1px 1px var(--button-shadow-color);
	padding: 0px;
}
.calcitButton:hover, .calcitPicker:hover, .calcitPickerIcon:hover, .k-checkbox_container:hover, .calcitButton:focus, .calcitPicker:focus, .calcitPickerIcon:focus, .k-checkbox_container:focus {
	--button-gradient: var(--button-hover-gradient);
	cursor: pointer;
}

.calcitButton:active, .calcitPicker:active, .k-checkbox_container:active {
	--button-gradient: linear-gradient(
        rgba(255,255,255,0.1),
		rgba(255,255,255,0.2)
	);
}

/*Custom button styling for a uniform look on all platforms*/
.calcitButton {
	padding: 0.1cm;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
	background-image: var(--button-gradient);
}

/*
 * Custom select ("picker") styling for a uniform look on all platforms
 * Idea from https://www.filamentgroup.com/lab/select-css.html
 */
.calcitPicker, .calcitPickerIcon {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}
.calcitPicker {
	box-sizing: border-box;
	padding-right: 30px;
	padding-left: 5px;
	margin: 0;
	background-image: var(--select-arrow), var(--button-gradient);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.calcitPickerIcon {
	background-image: var(--quickmenu-icon), var(--button-gradient);
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	background-size: contain;
	color: transparent; /*In some cases, text could be visible - make it transparent*/
}

/*Firefox only*/
@-moz-document url-prefix() {
	.calcitPickerIcon {
		/*Firefox does some custom menu styling on mac - does not work well with transparent foregrounds*/
		color: rgba(var(--kv-text_color_rgb),var(--kv-text_color_alpha));
	}
}